body {
    font-family: 'Jomhuria';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    font-family: 'Jomhuria';
    background-color: #333;
    color: #fff;
    padding: 1px 0px;
    text-align: left;
    padding-bottom: 20px;
}
header h3{
	padding-left: 30px;
	font-family: Jomhuria;
	
}
header img {
    max-height: 50px;
}

nav {
    margin-top: -50px;
    text-align: right;
    padding: 10px;
}

nav a {
	font-size: 28px;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.search-bar {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.search-bar input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: orange;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

main {
    padding: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 300px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.product-details h2 {
    font-size: 1.5em;
    margin: 0;
}

.product-description {
    font-size: 1em;
    color: #666;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2em;
    color: #000;
    margin: 10px 0;
}

.add-to-cart {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
