body {
    font-family: 'Jomhuria';
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
li{
	font-size: 30px;
}
header {
    font-family: 'Jomhuria';
    background-color: #333;
    color: #fff;
    padding: 1px 0px;
    text-align: left;
    padding-bottom: 20px;
}

header h3{
	padding-left: 30px;
	font-family: Jomhuria;
    color: #fff;
    border: none;
    cursor: pointer;
}
header img {
    max-height: 50px;
}

nav {
    margin-top: -50px;
    text-align: right;
    padding: 10px;
}

nav a {
	font-size: 28px;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.search-bar {
    margin-top: -60px;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.search-bar input[type="text"] {
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-bar input[type="submit"] {
    padding: 10px;
    border: none;
    background-color: orange;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

main {
    padding: 20px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 99%;
	display: flex;
	height: 500px;
}

.product-image {
    height: 360px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.product-image_container{
	display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 20px, 10px, 20px, 10px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
	width: 360px;
	margin-right: 10px;
	height: 360px;
}
.product-details {
            text-align: left;
			font-family: 'Jomhuria';
        }

        .product-details h2 {
            font-size: 4em;
            margin-bottom: 10px;
        }

        .product-details p {
            margin-bottom: 15px;
			font-size: 3em;
        }

        .product-price {
            font-size: 1.5em;
            color: #f66;
            margin-top: 15px;
        }

.add-to-cart {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #218838;
}

.popular{
	margin-top: 20px;
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 220px;
	width: 40%;
}
.popular-container{
	display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    height: 180px;
	width: 180px;
	margin-bottom: 10px;
}
.popular-container img{
	height: 160px;
	width: 160px;
}
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
